<div class="row" data-equalizer>
	<div class="small-12 medium-4 large-4 columns" ng-repeat="list in lists" data-equalizer-watch>
		<a href="#/list/{{list.id}}">
			<h1 class="list-title">
				<span class="list-name">{{list.name}}</span>
				<span class="list-name-edit"><i class="fa fa-pencil"></i></span>
			</h1>
		</a>
		<ul class="individual-lists">
			<li ng-repeat="task in list.tasks | limitTo: 5">{{task.name}}</li>
			<li><a href="#/list/{{list.id}}"><strong>View All Items</strong></a></li>
		</ul>	
	</div>			
</div>

<div class="row" ng-if="lists.length == 0">
	<div class="small-12 medium-4 large-4 columns">
		<a href="#/list/new">
			<h1 class="list-title">
				<span class="list-name">Create New List</span>
				<span class="list-name-edit"><i class="fa fa-plus-circle"></i></span>
			</h1>
		</a>		
	</div>			
</div>