<div class="row">
	<div class="small-12 medium-4 large-4 columns" ng-repeat="list in lists">
		<h1 class="list-title"><a href="#/list/{{list.id}}">{{list.name}}</a></h1>
		<ul class="individual-lists">
			<li ng-repeat="task in list.tasks">{{task.name}}</li>
		</ul>	
	</div>			
</div>

<div class="row">
	<div class="small-12 medium-4 large-4 columns">
		<h1 class="list-title">Create New List 
			<a href="#/list/new" class="button-create-list panel"><i class="step fi-plus size-36"></i>
			</a>
		</h1>	
	</div>			
</div>