<div class="wrapper row" data-equalizer>
	<div id="edit-screen-border" class="medium-8 columns" data-equalizer-watch>
		<div id="edit-screen-content">
			<!-- List Title -->
			<h1 class="row individual-list-title">
				<div class="small-11 columns">
					<span class="list-name-view" ng-hide="list.edit">
						{{list.name}}
					</span>
					<input ng-show="list.edit" ng-model="list.name" type="text" maxlength="50" />
				</div>
				<div class="small-1 columns text-right list-icons">
					<a title="Edit List Title" ng-click="handleListEdit(list)">
						<i ng-hide="list.edit" class="fa fa-pencil"></i>
						<i ng-show="list.edit" class="fa fa-check"></i>		
					</a>
				</div>
			</h1>
			<!-- Task Rows -->
			<div class="individual-list-items row" ng-repeat="task in tasks" ng-class="{'display-none': task.status == 'deleted'}">
				<form ng-submit="handleEdit(task)">
					<div ng-hide="task.status == 'deleted'">
						<div class="list-item-text small-10 columns">
							<div ng-hide="task.edit" ng-click="toggleTaskActivity(task)" ng-class="{'cross-out-task': task.status == 'inactive'}">
								<span class="task-name-view">{{task.name}}</span>
							</div>
							<input ng-show="task.edit" ng-model="task.name" type="text" maxlength="1000" />
						</div>
						<div class="small-2 columns text-right list-icons">
							<a title="Edit List Item" data-equalizer-watch ng-click="handleEdit(task)">
								<i ng-hide="task.edit" class="fa fa-pencil"></i>
								<i ng-show="task.edit" class="fa fa-check"></i>
							</a>	
							<span ng-click="deleteTask(task)"><i class="fa fa-trash"></i></span>
						</div>
					</div>
				</form>
			</div>
			<!-- Task Entry Row -->
			<div class="individual-list-items row">		
				<form ng-submit="addTask()">
					<div class="list-item-text small-10 columns" data-equalizer-watch>
						<input ng-model="name" name="list-item" placeholder="Enter List Item Here" type="text" maxlength="1000" />
					</div>
					<div class="small-2 columns text-right list-icons">
						<a title="Save List" ng-click="addTask()" data-equalizer-watch><i class="fa fa-check"></i></a>
					</div>
				</form>
			</div>
		</div>	
	</div>
	<div class="medium-4 columns" data-equalizer-watch>
		<div id="edit-screen-sidenav">
			<div id="share-list-section" ng-class="{'border-divide': list.sharedUsers.length > 0}">
				<h2>Share List</h2>
				<form ng-submit="shareList(list)">
					<input type="email" name="share-list-email" placeholder="Enter E-mail Address" ng-model="shareUser" />
					<div class="text-right"><input type="submit" class="main-buttons" value="Share"/></div>
				</form>
			</div>
			<div ng-if="list.sharedUsers.length > 0" id="share-list-users">
				<div class="shared-users">
					<strong>List Owner:</strong> 
					<span>{{list.owner.email}}</span>
				</div>
				<div class="shared-users">
					<strong>Shared User(s):</strong>
					<div ng-repeat="sharedUser in list.sharedUsers" class="row">
						<div class="user-email-remove" id="unshare-user-section">
							<a href data-reveal-id="unshareListModal" id="unshare-trash"><i class="fa fa-trash"></i></a>
							
							<div id="unshareListModal" class="reveal-modal small faire-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
								<h2 id="modalTitle">
									<span class="modal-title">Unshare List</span>
									<a class="close-reveal-modal" ng-click="closeUnshareModal()" aria-label="Close">&#215;</a>
								</h2>
								<p>Are you sure you want to unshare this list with "{{sharedUser.email}}"?</p>
								<div class="text-center">
									<a href class="main-buttons" ng-click="unshareList(list, sharedUser.id)">Yes I'm Sure</a>
									<a href class="main-buttons" ng-click="closeUnshareModal()">Cancel</a>	
								</div>
							</div>								
						</div>
						<div class="user-email">{{sharedUser.email}}</div>
					</div>
				</div>
			</div>
			<div id="delete-list-section">
				<a href data-reveal-id="deleteListModal" class="main-buttons"><i class="fa fa-trash"></i> Delete List</a>
				
				<div id="deleteListModal" class="reveal-modal small faire-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
					<h2 id="modalTitle">
						<span class="modal-title">Delete List</span>
						<a class="close-reveal-modal" aria-label="Close">&#215;</a>
					</h2>
					<p>Are you sure you want to delete "{{list.name}}"?</p>
					<div class="text-center">
						<a href="#/" class="main-buttons" ng-click="deleteList(list)">Yes I'm Sure</a>
						<a href class="main-buttons" ng-click="closeDeleteModal()">Cancel</a>	
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>