<div class="row" data-equalizer>
	<div id="edit-screen-border" class="medium-8 columns" data-equalizer-watch>
		<div id="edit-screen-content">
			<h1>{{params.listId}}</h1>
			<ul class="individual-list-items">
				<li>
					<div class="list-item-container">
						<div class="list-item-text">This is a normal list item</div> 
						<a title="Edit List"><i class="step fi-pencil size-20"></i></a>
					</div>
				</li>
				<li>
					<div class="list-item-container">
						<div class="list-item-text">This is a suuuuuuuuuuuppper extra extra long long long long long long long long long long list item that needs to be styled</div>
						<a title="Edit List"><i class="step fi-pencil size-20"></i></a>
					</div>
				</li>
				<li>
					<div class="list-item-container">
						<div class="list-item-text"><input name="list-item" placeholder="Enter List Item Here" type="text"></div>
						<a title="Save List"><i class="step fi-check size-20"></i></a>
					</div>
				</li>
			</ul>
			<!--<div class="right">
				<button class="main-buttons">Save</button>
				<button class="main-buttons">Delete</button>
			</div>-->
		</div>	
	</div>
	<div class="medium-4 columns" data-equalizer-watch>
		<div id="edit-screen-sidenav">
			<ul>
				<li><a href="#">Recent List 1</a></li>
				<li><a href="#">Recent List 2</a></li>
				<li><a href="#">Recent List 3</a></li>
				<li><a href="#">Recent List 4</a></li>
			</ul> 
			<button id="view-all" class="main-buttons">View All</button>
		</div>
	</div>
</div>